@font-face {
    font-family: 'ABCFavoritMono-Regular-Trial'; /* A name you choose for the font */
    src: url('fonts/ABCFavoritMono-Regular-Trial.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavoritMono-Light-Trial'; /* A name you choose for the font */
    src: url('fonts/ABCFavoritMono-Light-Trial.otf');
    font-weight: 300;
    font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body{
    font-family: 'ABCFavoritMono-Light-Trial', sans-serif;
}

::selection {
  background: #FFFA7C;
}

.wrapperMenu {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;  */
    padding: 70px 0 0 0;
    max-width: 80%; 
    margin: 0 auto;
    margin-bottom: 50px;
}

.menu {
    width: 100%;
}

/* Custom dropdown styling */
.dropdown {
    position: relative;
    width: 100%;
    padding-right: 20px;
}

.dropdown-toggle {
    width: 100%;
    padding: 10px 10px 10px 20px; 
    font-size: 13px; 
    font-weight: 700;
    font-family: 'ABCFavoritMono-Light-Trial', sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #e8ebff;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid #3f51b5;
    border-radius: 8px;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-menu label {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu input[type="checkbox"] {
    margin-right: 10px;
}
/* 
.content {
    margin: 30px 0;
} */

.data {
    display: none; /* Initially hide all country info */
    /* padding: 25px; */
    /* background-color: #fff; */
    /* border-radius: 8px; */
}

/* .content p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
} */

p:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}



/* end of copied from dropdown */

.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}

.button {
  /* width: 100%; */
  padding: 7px 30px 7px 30px; 
  margin: 10px;
  font-size: 15px; 
  font-weight: 700;
  font-family: 'ABCFavoritMono-Regular-Trial', sans-serif;
  border: 1px solid black;
  border-radius: 30px;
  /* background-color: white; */
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color */
}


.button:hover{
    background-color:#FFFDC1;
    transition: 0.5s;
}


.description{
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 40px;
}

.title{
    text-align: center;
    font-size: 45px;
    padding-top: 50px;
    font-family: 'ABCFavoritMono-Regular-Trial', sans-serif;
    text-decoration: none;
    color: black; /* Set text color */
}

a {
    text-decoration: none;
}

.filterby{
    margin-right: 0px;
    font-size: 13px;
    width: 70%;
}


.flex-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Add space between items */
    padding: 20px;
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto;
}

.flex-item {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    font-size: 14px; /* Adjust for readability */
}

.flex-item img {
    object-fit: cover;
    width: 200px;
    height: 200px;    
    display: block;
    margin-left: 0;
}

.flex-item h3 {
    font-size: 14px;
    margin: 10px 0;
}

.flex-item p {
    font-size: 12px;
    color: #666;
}


/* 5 columns when screen width is less than 1200px */
@media (max-width: 1700px) {
    .flex-item {
        flex: 1 0 20%; /* 5 columns */
    }
}

/* 3 columns when screen width is less than 900px */
@media (max-width: 1300px) {
    .flex-item {
        flex: 1 0 33.33%; /* 3 columns */
    }
}

/* 1 column when screen width is less than 600px */
@media (max-width: 800px) {
    .flex-item {
        flex: 1 0 50%; /* 1 column */
    }
}

.foodImage{
    object-fit: cover;
    width: 240px;
    height: 240px;    
    display: block;
    margin-left: 0;
}


.foodName{
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 0px;
}

.foodName:hover{
  font-style: italic;
  background-color: HotPink;
}

.countryName{
    font-size: 19px;
    text-align: left;
}

#clear-filters{
    background-color: white;
    border: white;
    font-size: 13px;
    cursor: pointer;
    font-family: 'ABCFavoritMono-Light-Trial', sans-serif;
    text-align: left;
    width: 100%;
    color: rgb(29, 107, 210);
}



/* ABOUT PAGE */
.aboutContainer{
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutHeader{
    margin-bottom: 30px;
    font-size: 17px;
}

.aboutHeader2{
    margin-top: 100px; 
    margin-bottom: 100px;
}

.aboutPara{
    font-size: 13px;
    margin-bottom: 25px;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
}

/* Newsletter Subscription form */
.newsletter{
    margin-top: 50px;
    padding-left: 5%;
}

.newsletterForm{
    background: #ffffff; 
    display: flex;
    width: fit-content;
}

.newsletterForm input{
    border: 1;
    outline: none;
    padding: 10px 20px;
    height: 40px; 
    width: 300px; 
    font-size: 14px;
}

.newsletterForm button{
    background: #FFFA7C;
    border: 1px solid black;
    border-color: black;
    height: 40px; 
    width: 40px; 
    cursor: pointer;
}

.newsletterSpan{
    font-size: 13px;
    margin-top: 10px; 
    display: block;
    color: rgb(197, 42, 42);
}

.newsletterHeader{
    font-size: 17px;
    margin-bottom: 10px;
}

.newsletterPara{
    font-size: 13px;
    margin-bottom: 25px;
    width: 25%;
    max-width: 800px;
    min-width: 400px;
}

/* Resources page */
.resource{
    margin-bottom: 20px;
}

.resourceTitle{
    font-family: 'ABCFavoritMono-Regular-Trial';
    font-size: 17px;
}



/* SUBMISSION PAGE */
.submitPara{
    font-size: 13px;
    margin-bottom: 25px;
    width: 50%;
    max-width: 570px;
    min-width: 400px;
}